Repository meshkorea/springbootcamp, pull requests merged in 2022-12, with the labels that each got.

#7 [product] fix build error
  product/src/main/resources/config/application.yml
  product/src/main/resources/swagger/api.yml
Labels: Product

#9 Order
  order/src/main/java/com/vroong/order/adapter/in/message/MessageConsumer.java
  order/src/main/java/com/vroong/order/adapter/in/rest/Fixture.java
  order/src/main/java/com/vroong/order/adapter/in/rest/OrderApiDelegateImpl.java
  order/src/main/java/com/vroong/order/adapter/in/rest/mapper/OrderDtoMapper.java
  order/src/main/java/com/vroong/order/adapter/out/.gitignore
  order/src/main/java/com/vroong/order/adapter/out/message/StreamBridgeMessageProducer.java
  order/src/main/java/com/vroong/order/application/DeliveryEventHandler.java
  order/src/main/java/com/vroong/order/application/EventHandlerFactory.java
  order/src/main/java/com/vroong/order/application/IdempotentEventHandler.java
  order/src/main/java/com/vroong/order/application/OrderService.java
  order/src/main/java/com/vroong/order/application/PaymentEventHandler.java
  order/src/main/java/com/vroong/order/application/PersistentEventPublisher.java
  order/src/main/java/com/vroong/order/application/port/in/EventHandler.java
  order/src/main/java/com/vroong/order/application/port/in/OrderUsecase.java
  order/src/main/java/com/vroong/order/application/port/in/SearchCriteria.java
  order/src/main/java/com/vroong/order/application/port/out/IdempotentEventRepository.java
  order/src/main/java/com/vroong/order/application/port/out/OrderRepository.java
  order/src/main/java/com/vroong/order/application/port/out/ProducerChannel.java
  order/src/main/java/com/vroong/order/application/port/out/converter/OrderStatusConverter.java
  order/src/main/java/com/vroong/order/application/port/out/message/MessageProducer.java
  order/src/main/java/com/vroong/order/application/port/out/message/OrderEvent.java
  order/src/main/java/com/vroong/order/config/ApplicationProperties.java
  order/src/main/java/com/vroong/order/config/Constants.java
  order/src/main/java/com/vroong/order/config/EventHandlerConfiguration.java
  order/src/main/java/com/vroong/order/config/MessagingConfiguration.java
  order/src/main/java/com/vroong/order/domain/DeliveryEvent.java
  order/src/main/java/com/vroong/order/domain/IdempotentEvent.java
  order/src/main/java/com/vroong/order/domain/Order.java
  order/src/main/java/com/vroong/order/domain/OrderItem.java
  order/src/main/java/com/vroong/order/domain/OrderList.java
  order/src/main/java/com/vroong/order/domain/OrderStatus.java
  order/src/main/java/com/vroong/order/domain/Orderer.java
  order/src/main/java/com/vroong/order/domain/Page.java
  order/src/main/java/com/vroong/order/domain/PaymentEvent.java
  order/src/main/java/com/vroong/order/domain/Receiver.java
  order/src/main/resources/config/application-local.yml
  order/src/main/resources/config/application.yml
  order/src/main/resources/db/schema.sql
  order/src/main/resources/swagger/api.yml
  order/src/main/resources/swagger/asyncapi.yml
  order/src/test/java/com/vroong/order/adapter/in/rest/OrderApiDelegateImplTest.java
  order/src/test/java/com/vroong/order/application/OrderServiceTest.java
  order/src/test/java/com/vroong/order/domain/OrderTest.java
  order/src/test/resources/config/application.yml
Labels: Order

#14 Payment: test failed 수정, asyncapi spec 수정
  payment/src/main/java/com/vroong/payment/application/port/out/PaymentRepository.java
  payment/src/main/resources/swagger/api.yml
  payment/src/main/resources/swagger/asyncapi.yml
  payment/src/test/java/com/vroong/payment/adapter/in/rest/PaymentApiDelegateImplTest.java
Labels: Payment

#15 Product: 테스트 깨지는 것들 수정
  product/src/main/java/com/vroong/product/adapter/in/rest/Fixtures.java
  product/src/main/java/com/vroong/product/application/OrderPlacedService.java
  product/src/main/java/com/vroong/product/application/ProductService.java
  product/src/main/java/com/vroong/product/application/exception/ProductNotFoundException.java
  product/src/main/java/com/vroong/product/application/port/out/OrderTemplate.java
  product/src/main/java/com/vroong/product/config/ApiConfiguration.java
  product/src/test/java/com/vroong/product/adapter/in/rest/ProductApiDelegateImplTest.java
Labels: Product

#16 Order 이슈 구현
  order/src/main/java/com/vroong/order/adapter/in/message/MessageConsumer.java
  order/src/main/java/com/vroong/order/application/EventHandlerFactory.java
  order/src/main/java/com/vroong/order/application/OrderService.java
  order/src/main/java/com/vroong/order/config/Constants.java
  order/src/main/java/com/vroong/order/support/SecurityUtils.java
  order/src/test/java/com/vroong/order/WithMockJwt.java
  order/src/test/java/com/vroong/order/WithMockJwtSecurityContextFactory.java
  order/src/test/java/com/vroong/order/application/OrderServiceTest.java
Labels: Order

#17 [Payment] 3rd party mock server 추가, repository 수정
  payment/build.gradle
  payment/src/main/java/com/vroong/payment/application/port/in/PaymentService.java
  payment/src/main/java/com/vroong/payment/application/port/out/Fixtures.java
  payment/src/main/java/com/vroong/payment/application/port/out/PaymentRepository.java
  payment/src/main/java/com/vroong/payment/application/port/out/PaymentResponse.java
  payment/src/main/java/com/vroong/payment/config/OrderApiConfiguration.java
  payment/src/main/java/com/vroong/payment/config/RestTemplateConfiguration.java
  payment/src/main/java/com/vroong/payment/config/ThirdPartyConfiguration.java
  payment/src/test/java/com/vroong/payment/application/port/in/PaymentServiceTest.java
  payment/src/test/java/com/vroong/payment/application/port/out/PaymentRepositoryTest.java
Labels: Payment
